/* @font-face {
    font-family: 'AlibabaPuHuiTi-Regular';
    src: url('~/assets/font/AlibabaPuHuiTi-2-55-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlibabaPuHuiTi-ExtraBold';
    src: url('~/assets/font/AlibabaPuHuiTi-2-95-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
} */
